<head>
  <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Bootstrap 101 Template</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
</head>
<body><br/><br/><center>
<h1 style="background:none; color:#461968"><b>FACTS</b></h1>

<table style="width:100%;">
  <tr style="font-size:48px; color:white; background-color:black;">
    <th style="width:33%;">Category</th>
    <th style="width:33%;">Body</th>
    <th style="width:33%;">Source</th>
  </tr>
<div style="background-color:white;">
  <% @facts.each do |fact| %>
  <tr style="background-color:white; margin-top:5px;">
    <td style="font-size:40px; padding-left:15px;"><%= fact.category %></td>
    <td style="font-size:28px; padding-left:15px;"><%= fact.body %></td>
    <td style="font-size:22px; display:flex; padding:11px; align-content:center; justify-content:space-around;">&#160;&#160;
      <%= link_to 'Show', fact_path(fact) %>&#160;&#160;
      <%= link_to 'Edit', edit_fact_path(fact) %>&#160;&#160;
      <%= link_to 'Delete', fact_path(fact), method: :delete, data: { confirm: 'Delete this fact?' } %>
    </td>
  </tr>
  <% end %>
</table></center><br/><br/><br/>

<%= link_to 'New Fact', new_fact_path, :class => 'buttonStyle' %>
<!--don't judge me on all the inline, I deal with css enough at work that I'm choosing to do this lazily -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
</body>
