<head>
  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
</head>
<body>
<p>
  <strong>Category:</strong>
  <%= @fact.category %>
</p>
<p>
  <strong>Body:</strong>
  <%= @fact.body %>
</p>
<p style="overflow:hidden;  overflow-wrap:break-word; word-wrap:break-word;">
  <strong>Source:</strong>
  <%= @fact.source %>
</p><br/><br/>
<%= link_to 'Edit', edit_fact_path(@fact),:class => 'buttonStyle'  %>
<%= link_to 'Back', facts_path, :class => 'buttonStyle'  %>
<%= link_to 'Delete', fact_path(@fact), method: :delete, data: { confirm: 'Delete this fact?' } %>
</body>
